@import "mocha.css";

* {
  font-family: Iosevka Nerd Font;
  font-weight: bold;
  font-size: 14px;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 2px 2px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  margin-top: 2px;
  background-color: @surface0;
  margin-left: 1rem;
  box-shadow: 3px 3px @surface2;
}  

#workspaces button {
  color: @surface2;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @rosewater;
}

#window,
#custom-music,
#tray,
#language,
#network,
#backlight,
#clock,
#battery,
#pulseaudio {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  box-shadow: 3px 3px @surface2;
}

#window {
  color: @mauve;
  border-radius: 1rem;
  margin-right: 4px;
}

window#waybar.empty #window {
  background-color:transparent;

  /** get rid of the box shadow**/
  box-shadow: 0px 0px;
}
  
#language {
  color: @peach;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#network {
  color: @maroon;
}

#battery {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#pulseaudio {
  color: @yellow;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#tray {
  border-radius: 1rem;
  margin-right: 3px;
}
