/** https://github.com/catppuccin/waybar **/
@import "current.css";

* {
  font-family: FantasqueSansMNerd Font;
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background-color: alpha(@base, 0.5);
  transition-property: background-color;
  transition-duration: 0.5s;
}

#custom-launcher {
  color: @green;
  font-size: 20px;
  background-color: @base;
  border-bottom: solid @overlay2 2px;
  padding-left: 0.5rem;
}

#workspaces {
  border-bottom: solid @overlay2 2px;
  border-right: solid @overlay2 2px;
  border-radius: 0 0 0.85rem 0;
  padding: 2px;
  color: @text;
  background-color: @base;
}  

#workspaces button {
  min-width: 2px;
  padding: 0 2px;
  color: @overlay2;
  border-radius: 1rem;
  min-width: 0px;
  transition: all 0.25s ease;
}

#workspaces button.active {
  min-width: 40px;
  padding: 0 10px;
  background-color: @green;
  margin: 2px;
  min-width: 2.3em;
  color: @base;
}

#workspaces button.urgent {
  color: @red;
}

#window,
#tray,
#language,
#network,
#custom-media,
#backlight,
#clock,
#battery,
#custom-pacman,
#pulseaudio {
  border-bottom: solid @overlay2 2px;
  color: @text;
  background-color: @base;
  padding: 8px; 
}
window#waybar.empty #window {
  background-color:transparent;
}
  
#battery.warning:not(.charging) {
  color: @red;
}


#language {
  border-radius: 0 0 0 0.85em;
  border-left: solid @overlay2 2px;
  border-bottom: solid @overlay2 2px;
}
