/** https://github.com/catppuccin/waybar **/
@import "mocha.css";

* {
  font-family: Iosevka Nerd Font;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
  /** change padding to make the bar thinner or thicker **/
  padding: 0.5px;
  margin: 0;
  border-radius: 0;
}

window#waybar {
  background-color: rgba(30, 30, 46, 0.5);
  transition-property: background-color;
  transition-duration: 0.5s;
}

#workspaces {
  border-radius: 0.75rem;
  margin: 5px;
  background-color: @base;
  margin-left: 1rem;
}  

#workspaces button {
  min-width: 2em;
  color: @text;
  border-radius: 0.75rem;
}

#workspaces button.active {
  background-color: @lavender;
  margin: 2px 2px;
  color: @base;
}

#workspaces button.urgent {
  color: @red;
}

#window,
#tray,
#language,
#network,
#custom-media,
#backlight,
#clock,
#battery,
#custom-pacman,
#pulseaudio {
  background-color: @base;
  margin: 5px 0;
  padding: 0rem 0.75rem 0rem;
}

#custom-media {
  background-color: @green;
  color: @base;
  border-radius: 1rem;
  margin-left: 4rem;
}

#window {
  color: @mauve;
  border-radius: 1rem;
}

window#waybar.empty #window {
  background-color:transparent;
}
  
#language {
  color: @peach;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-pacman {
  color: @sky;
}

#network {
  color: @teal;
}

#battery {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#pulseaudio {
  color: @yellow;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#tray {
  border-radius: 1rem;
}
